{edoc_opts,[{overview,"src/overview.edoc"},
            {title,"The exec application"},
            {includes,["include"]},
            {def,{vsn,"51951b76d0538feabd117ed0b4048a191d4a8422"}},
            {stylesheet_file,"src/edoc.css"},
            {app_default,"http://www.erlang.org/doc/man"}]}.
{erl_opts,[warn_export_all]}.
{plugins,[pc]}.
{port_env,[{"solaris","CXXFLAGS",
            "$CXXFLAGS -DHAVE_SETREUID -DHAVE_PTRACE -m64"},
           {"solaris","LDFLAGS","$LDFLAGS -lrt -m64"},
           {"darwin","CXXFLAGS",
            "$CXXFLAGS -DHAVE_SETREUID -DHAVE_PTRACE -m64"},
           {"darwin","LDFLAGS","$LDFLAGS -m64"},
           {"linux","CXXFLAGS","$CXXFLAGS -DHAVE_SETRESUID -DHAVE_PTRACE"},
           {"linux","LDFLAGS","$LDFLAGS"},
           {"CC","g++"},
           {"CXX","g++"},
           {"CXXFLAGS","$CXXFLAGS -O0"}]}.
{port_specs,[{"priv/x86_64-unknown-linux-gnu/exec-port",["c_src/*.cpp"]}]}.
{post_hooks,[{clean,"rm -fr _build ebin doc priv erl_crash.dump c_src/*.o c_src/*.d"}]}.
{provider_hooks,[{pre,[{compile,{pc,compile}},{clean,{pc,clean}}]}]}.
{overrides,[]}.
