<span class="col-md-10" style="margin-left: -25px;"> <%= link "Back", to: dispatch_admin_warehouse_path(@conn, :index),class: "btn btn-gold btn-gold"  %></span>

<div class="card" style="margin:25px -10px">
    <div class="card-header" data-background-color="gold">
        <h4 class="title">dispatches</h4>
        <p class="category"><%= link "Dashboard", to: dispatch_admin_warehouse_path(@conn, :index) %>/dispatch/add</p>

    </div>
<%= render "form.html", Map.put(assigns, :action, dispatch_admin_warehouse_path(@conn, :create)) %>
